@import url("https://fonts.googleapis.com/css?family=Rajdhani:500|Lato:300");

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0; }

section {
  display: block; }

p {
  line-height: 30px; }

h1, h2, h3, h4, h5 {
  text-align: center; }

.colored-divider {
  width: 250px;
  height: 3px; }

.section-divider {
  width: 80%;
  height: 3px; }

.hide {
  display: none; }

.site-header {
  height: 100px; }
  .site-header .custom-logo-link img {
    display: inline-block;
    margin: 20px;
    float: left; }

.menu-icon {
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 100; }

.scroll-menu-icon {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 100; }

.mobile-menu {
  position: fixed;
  z-index: 250;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mobile-menu h1 {
    margin-bottom: 100px; }
  .mobile-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh; }

.exit span {
  position: absolute;
  top: 20px;
  right: 20px; }

.site-nav ul {
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-right: 20px; }
  .site-nav ul li {
    padding: .5em .5em;
    z-index: 100; }

.indented-title {
  text-indent: -999999999px;
  float: left; }

.banner {
  height: 50vh;
  width: 100vw; }

.footer-block {
  min-height: 270px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-block .footer-menu {
    margin-top: 2em; }
    .footer-block .footer-menu .footer-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 200px; }
      .footer-block .footer-menu .footer-nav ul li {
        padding: .5em; }
  .footer-block .contribution-links {
    margin: .5em; }
    .footer-block .contribution-links ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer-block .contribution-links ul .social-media-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
        .footer-block .contribution-links ul .social-media-block li {
          padding: .5em; }
      .footer-block .contribution-links ul li .author-link, .footer-block .contribution-links ul li .admin-link {
        margin-top: .5em;
        display: block; }

h1, h2, h3, h4 {
  font-family: "Rajdhani", sans-serif; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

p {
  font-size: 16px;
  font-family: "Lato", sans-serif; }

.colored-divider {
  background-color: #EF504F;
  border: none; }

.section-divider {
  background-color: rgba(0, 0, 0, 0.8);
  border: none; }

.menu-icon {
  color: white; }

.site-header {
  background-color: rgba(0, 0, 0, 0.8); }
  .site-header .site-nav ul {
    z-index: 100; }
    .site-header .site-nav ul li {
      font-size: 16px;
      font-family: "Rajdhani", sans-serif; }
      .site-header .site-nav ul li a {
        color: white; }
    .site-header .site-nav ul li:last-child {
      background-color: #EF504F; }

.banner {
  background-color: rgba(155, 155, 155, 0.1); }

.content-block h2, .content-block p {
  color: rgba(0, 0, 0, 0.8); }

.footer-block {
  background-color: #EF504F; }
  .footer-block .footer-nav a {
    color: white;
    font-size: 16px;
    font-family: "Lato", sans-serif; }
  .footer-block .contribution-links ul li a {
    color: white;
    font-size: 16px;
    font-family: "Lato", sans-serif; }

.instagram-icon {
  height: 30px;
  width: 30px;
  margin-left: 15px; }

.btn {
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 24px; }

.action-button {
  border: none;
  background-color: #EF504F;
  padding: 10px 50px;
  margin: 2em;
  font-weight: 300;
  font-size: 18px;
  min-width: 200px; }

ul, li, h1, h2, h3, h4, h5, h6 {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  cursor: pointer; }

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 64px; }
  h2 {
    font-size: 48px; }
  h3 {
    font-size: 36px; }
  h4 {
    font-size: 24px; }
  p {
    font-size: 20px; }
  .site-header .site-nav ul li {
    font-size: 20px;
    padding: .5em 2em; }
  .site-header .site-nav ul li:last-child {
    max-height: 25px; }
  .footer-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }
