@import url("https://fonts.googleapis.com/css?family=Rajdhani:300|Lato:300");

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0; }

aside, p {
  display: block; }

section {
  display: block; }

p {
  line-height: 30px; }

h1, h2, h3, h4, h5 {
  text-align: center; }

.colored-divider {
  width: 250px;
  height: 3px; }

.section-divider {
  width: 80%;
  height: 3px; }

.hide {
  display: none; }

.insta-logo {
  padding-left: .5em; }

.site-header {
  height: 100px; }
  .site-header .custom-logo-link img {
    display: inline-block;
    margin: 20px;
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 100; }

.menu-icon {
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 100; }

.scroll-menu-icon {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 100; }

.mobile-menu {
  position: fixed;
  z-index: 250;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mobile-menu h1 {
    margin-bottom: 100px; }
  .mobile-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh; }

.exit span {
  position: absolute;
  top: 20px;
  right: 20px; }

.site-nav ul {
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-right: 20px; }
  .site-nav ul li {
    padding: .5em .5em;
    z-index: 100; }

.indented-title {
  text-indent: -999999999px;
  float: left; }

.home-banner-container {
  position: relative;
  height: 50vh;
  width: 100vw; }

.home-banner {
  height: 150%;
  width: 100vw;
  position: absolute;
  top: -30%;
  right: 0; }

.step-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2em 20%; }

.above-fold-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
  position: relative; }
  .above-fold-container p {
    width: 80%;
    max-width: 800px; }
  .above-fold-container .step-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2em 10%; }
  .above-fold-container .diagonal-overlay {
    width: 50%;
    height: 0;
    overflow: hidden; }
  .above-fold-container .diagonal-overlay:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 100vh solid transparent;
    border-right: 90vw solid rgba(155, 155, 155, 0.1);
    position: absolute;
    right: 0;
    bottom: 0; }

.content-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  padding: 5%; }
  .content-block .diagonal-overlay {
    width: 50%;
    height: 0;
    padding-top: 50px;
    overflow: hidden; }
  .content-block .diagonal-overlay:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 50vh solid transparent;
    border-right: 90vw solid rgba(155, 155, 155, 0.1);
    position: absolute;
    right: 0;
    bottom: 0; }
  .content-block .row-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 4em; }
  .content-block .one-column-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2em; }
  .content-block .blurb {
    width: 80%;
    max-width: 600px;
    min-width: 300px;
    margin: 50px; }

.bullet-list {
  list-style-type: disc; }

.sub-banner-container {
  height: 80vh;
  width: 100%;
  position: relative; }

.drt-team-banner {
  height: 100%;
  width: 100%; }

.banner-copy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  margin: 5%; }
  .banner-copy-container h3 {
    width: 100%;
    margin: 30px 7%;
    text-align: center; }

.overlay-left, .overlay-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.overlay-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.overlay-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer-block {
  min-height: 270px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-block .footer-menu {
    margin-top: 2em; }
    .footer-block .footer-menu .footer-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 200px; }
      .footer-block .footer-menu .footer-nav ul li {
        padding: .5em; }
  .footer-block .contribution-links {
    margin: .5em; }
    .footer-block .contribution-links ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer-block .contribution-links ul .social-media-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
        .footer-block .contribution-links ul .social-media-block li {
          padding: .5em; }
      .footer-block .contribution-links ul li .author-link, .footer-block .contribution-links ul li .admin-link {
        margin-top: .5em;
        display: block; }

h1, h2, h3 {
  font-family: "Rajdhani", sans-serif; }

h4, p {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

p {
  font-size: 16px; }

.text-colored {
  color: rgba(0, 0, 0, 0.8); }

.text-inverse {
  color: white; }

.show-font {
  font-family: "Rajdhani", sans-serif; }

.colored-divider {
  background-color: #EF504F;
  border: none; }

.section-divider {
  background-color: rgba(0, 0, 0, 0.8);
  border: none; }

a:focus, button:focus {
  outline: none; }

.menu-icon {
  color: white; }

.site-header {
  background-color: rgba(0, 0, 0, 0.8); }
  .site-header .site-nav ul {
    z-index: 100; }
    .site-header .site-nav ul li {
      font-size: 16px;
      font-family: "Rajdhani", sans-serif; }
      .site-header .site-nav ul li a {
        color: white; }
    .site-header .site-nav ul li:last-child {
      background-color: #EF504F; }

.clear-background {
  background-color: transparent; }

.banner {
  background-color: rgba(155, 155, 155, 0.1); }

.content-block h2, .content-block p {
  color: rgba(0, 0, 0, 0.8); }

.above-fold-container {
  background-color: rgba(0, 0, 0, 0.8);
  color: white; }

.home-banner {
  background-image: url("build/images/Don-Racing.png");
  background-repeat: no-repeat;
  background-size: cover; }

.drt-team-banner {
  background-image: url("build/images/podium.png");
  background-repeat: no-repeat;
  background-size: cover; }

.banner-copy-container h3 {
  color: white; }

.training-camp-pic {
  background-image: url("build/images/"); }

.performance-eval-pic {
  background-image: url("build/images/"); }

.ad-block {
  background-color: rgba(0, 0, 0, 0.8);
  color: white; }
  .ad-block p {
    color: inherit; }

.overlay-right {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.8)), to(transparent));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
  background-size: cover; }

.overlay-left {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(transparent));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
  background-size: cover;
  color: white; }

.footer-block {
  background-color: #EF504F; }
  .footer-block .footer-nav a {
    color: white;
    font-size: 16px;
    font-family: "Lato", sans-serif; }
  .footer-block .contribution-links ul li a {
    color: white;
    font-size: 16px;
    font-family: "Lato", sans-serif; }

.instagram-icon {
  height: 30px;
  width: 30px;
  margin-left: 15px; }

.hexagon {
  position: relative;
  width: 79.6px;
  height: 47px;
  background-color: transparent;
  margin: 23.09px 0;
  border-left: solid 5px #EF504F;
  border-right: solid 5px #EF504F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .hexagon h4 {
    z-index: 50; }

.hexagon:hover {
  background-color: #EF504F;
  cursor: pointer; }

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 56.57px;
  height: 56.57px;
  -webkit-transform: scaleY(0.577) rotate(-45deg);
  transform: scaleY(0.577) rotate(-45deg);
  background-color: inherit;
  left: 7.7157px; }

.hexagon:before {
  top: -31.9px;
  border-top: solid 7.071px #EF504F;
  border-right: solid 7.071px #EF504F; }

.hexagon:after {
  bottom: -31.8px;
  border-bottom: solid 7.071px #EF504F;
  border-left: solid 7.071px #EF504F; }

.btn {
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 24px; }

.cta-button {
  padding: 20px;
  background-color: #EF504F;
  border: none;
  color: white; }

.sub-button {
  padding: 20px;
  background-color: transparent;
  border: 2px solid #EF504F;
  color: white; }

button:hover {
  cursor: pointer; }

ul, li, h1, h2, h3, h4, h5, h6 {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  cursor: pointer; }

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 64px; }
  h2 {
    font-size: 48px; }
  h3 {
    font-size: 36px; }
  h4 {
    font-size: 20px; }
  p {
    font-size: 20px; }
  .site-header .site-nav ul li {
    font-size: 20px;
    padding: .5em 2em; }
  .site-header .site-nav ul li:last-child {
    max-height: 25px; }
  .footer-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .content-block .two-column-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }
