.btn{
  transition: .3s;
  font-size: 24px;
}




.cta-button {
  padding: 20px;
  background-color:$button-cta;
  border: none;
  color: $text-inverse;
}
.sub-button {
  padding: 20px;
  background-color: $background-clear;
  border: 2px solid $button-cta;
  color: $text-inverse;
}
button:hover {
  cursor: pointer;
}
