.btn{
  transition: .3s;
  font-size: 24px;
}




//contact page submit button
.action-button{
  border: none;
  background-color:$cta-button;
  padding:10px 50px;
  margin:2em;
  font-weight: 300;
  font-size:18px;
  min-width:200px;
}
