.btn{
  transition: .3s;
  font-size: 24px;
}




.button-cta {
  padding: 20px;
  background-color:$button-cta;
  border: none;
  color: $text-inverse;
  min-width:150px;
}
.sub-button {
  padding: 20px;
  background-color: $background-clear;
  border: 2px solid $button-cta;
  color: $text-inverse;
  transition: .3s;
}
.sub-button:hover {
  background-color: $background-red;

}
button:hover {
  cursor: pointer;
}
