.instagram-icon{
  height:30px;
  width:30px;
  margin-left:15px;
}
// Hexagon Icon
.hexagon {
  position: relative;
  width: 79.6px;
  height: 47px;
  background-color: $background-clear;
  margin: 23.09px 0;
  border-left: solid 5px $button-cta;
  border-right: solid 5px $button-cta;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h4 {
    z-index: 50;
  }
}

.hexagon:hover {
  background-color: $button-cta;
  cursor: pointer;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 56.57px;
  height: 56.57px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 7.7157px;
}

.hexagon:before {
  top: -31.9px;
  border-top: solid 7.0711px $button-cta;
  border-right: solid 7.0711px $button-cta;
}

.hexagon:after {
  bottom: -31.8px;
  border-bottom: solid 7.0711px $button-cta;
  border-left: solid 7.0711px $button-cta;
}
