
@media only screen and (min-width: 1000px){

//text
  h1{
    font-size: $desktop-title;
  }
  h2{
    font-size: $desktop-section-title;
  }
  h3{
    font-size: $desktop-subtitle;
  }
  h4{
    font-size: $desktop-cta-text;
  }
  p, li{
    font-size: $desktop-read;
  }
  //Nav

  .site-header{
    .site-nav {
      ul{
        li {
          font-size: $desktop-read;
          padding: 10px;
        }
        li:last-child {
          padding: 10px 36px;
        }
      }
    }
  }
  .footer-block {
    flex-direction: row;
    .footer-menu {
        width: 40%;
      .footer-nav ul {
        display: flex;
        flex-direction: column;
      }
    }
  }

  //Content blocks
  .content-block{
    .two-column-content {
      flex-direction: row;
    }
  }

  .small-ring{
    width: 170px;
    height: 170px;
  }
   .middle-ring{
     width: 210px;
     height: 210px;
   }
   .large-ring {
     width: 270px;
     height: 270px;
   }
   .training-plan-block-container {
     height: 500px;
   }


//Images
  .training-camp-pic, .performance-eval-pic {
    height: 50vh;
    width: 50vw;
  }

  .home-banner {
    background-image: url('build/images/Don-Racing.png');
  }
  .drt-team-banner {
    background-image: url('build/images/podium.png');
  }
  .team-ride-pic {
    background-image: url('build/images/team-ride.png');
  }
  .fit-pic {
    background-image: url('build/images/fit-pic.png');
  }
  .a-space-banner-container{
    height: 70vh;
  }


//Spacing








}
