


  //text
  h1, h2, h3, label {
    font-family: $show-font;
    font-weight: 400;
  }
  h4, h5, p, li {
    font-family: $read-font;
    font-weight: 300;
  }
  h1{
    font-size: $mobile-title;
  }
  h2{
    font-size: $mobile-section-title;
  }
  h3{
    font-size: $mobile-subtitle;
  }
  h4{
    font-size: $mobile-cta-text;
  }
  p, li {
    font-size: $mobile-read;
  }
  a {
    color: $text-colored;
  }

  .text-colored {
    color: $text-colored;
  }
  .text-inverse {
    color: $text-inverse;
  }
  .show-font {
    font-family: $show-font;
  }

  //elements
  .colored-divider {
    background-color: $divider-line;
    border: none;
  }
  .section-divider {
    background-color: $background-dark;
    border: none;
  }

  a:focus ,button:focus {
    outline: none;
  }


    //Nav
    .menu-icon {
      color: white;
    }
    .menu-icon:hover {
      cursor: pointer;
    }
    .site-header{
      background-color: $background-dark;
      .site-nav {
        ul{
          z-index:100;
          li {
            font-size: $mobile-read;
            font-family: $show-font;
            a {
              color: $text-inverse;
            }
          }
          li:last-child {
            background-color: $button-cta;
          }
        }
      }
    }
    .clear-background {
      background-color:$background-clear;
    }
    .mobile-menu {
      background-color: $background-red;
      color: $text-inverse;
      a {
        color: inherit;
        font-size: $mobile-section-title;
        font-family: $show-font;
        display: block;
      }
      .exit {
        font-size: $mobile-title;
        font-family: $show-font;
      }
      .exit:hover {
        cursor: pointer;
      }

    }


  //Blocks
  //A-space
  .banner {
    background-color: $overlay;
  }

  .above-fold-container {
    background-color: $background-dark;
    color: $text-inverse;
  }
  .step-list-container {
    a {
      color: $text-inverse;
    }
  }
  //Banners
  .home-banner {
    background-image: url('build/images/Don-Racing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .drt-team-banner {
    background-image: url('build/images/podium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .banner-copy-container {
    h3 {
      color: $text-inverse;
    }
  }
  .team-ride-pic {
    background-image: url('build/images/team-ride.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .training-camp-pic {
    background-image: url('build/images/training-camp.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }
  .performance-eval-pic {
    background-image: url('build/images/performance-testing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .training-camp-pic:hover , .performance-eval-pic:hover {
    cursor: pointer;

  }

  .fit-pic {
    background-image: url('build/images/fit-pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .ad-block, .category-block {
    background-color: $background-dark;
    color: $text-inverse;
    p,a {
      color: inherit;
    }
  }

  .fit-header{
    background-color: $background-dark;
    color: $text-inverse;
    border:1px solid $DRT-red;
    p,a {
      color: inherit;
    }
  }
  .fit-header:hover{
    cursor:pointer;
  }

  .ride-info-container {
    background-color: $background-dark;
    color: $text-inverse;
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  //Form Elements

  .field-wrap .listselect-wrap>div, .field-wrap .pikaday__container, .field-wrap
   .pikaday__display, .field-wrap>div input, .field-wrap select,
   .field-wrap textarea
  .ninja-forms-form-wrap, .ninja-forms-field {
    font-size: $desktop-read;
    font-family: $show-font;
  }
    label {
      font-size: $desktop-read;
      font-family: $show-font;
    }




  //overlay
  .overlay-right{
    background: $overlay-dark-right;
  }
  .overlay-left {
    background: $overlay-dark-left;
  }
  .overlay-left, .overlay-right {
    background-size:cover;
    color: $text-inverse;
  }

  .overlay-full {
    background: $overlay-dark-full;
    background-size:cover;
    color: $text-inverse;
  }

  // Footer
  .footer-block {
    background-color: $DRT-red;
    .footer-nav {
      a {
        color: $text-inverse;
        font-size: $mobile-read;
        font-family: $read-font;
      }
    }
    .contribution-links {
      ul li {
        a {
          color: $text-inverse;
          font-size: $mobile-read;
          font-family: $read-font;
        }
      }
    }
  }
