


  //text
  h1, h2, h3 {
    font-family: $show-font;
  }
  h4, p {
    font-family: $read-font;
  }
  h1{
    font-size: $mobile-title;
  }
  h2{
    font-size: $mobile-section-title;
  }
  h3{
    font-size: $mobile-subtitle;
  }
  h4{
    font-size: $mobile-cta-text;
  }
  p{
    font-size: $mobile-read;
  }

  .text-colored {
    color: $text-colored;
  }
  .text-inverse {
    color: $text-inverse;
  }
  .show-font {
    font-family: $show-font;
  }

  //elements
  .colored-divider {
    background-color: $divider-line;
    border: none;
  }
  .section-divider {
    background-color: $background-dark;
    border: none;
  }

  a:focus ,button:focus {
    outline: none;
  }


    //Nav
    .menu-icon {
      color: white;
    }
    .site-header{
      background-color: $background-dark;
      .site-nav {
        ul{
          z-index:100;
          li {
            font-size: $mobile-read;
            font-family: $show-font;
            a {
              color: $text-inverse;
            }
          }
          li:last-child {
            background-color: $button-cta;
          }
        }
      }
    }
    .clear-background {
      background-color:$background-clear;
    }


  //Blocks
  //A-space
  .banner {
    background-color: $overlay;
  }

  .above-fold-container {
    background-color: $background-dark;
    color: $text-inverse;
  }
  //Banners
  .home-banner {
    background-image: url('build/images/Don-Racing.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .drt-team-banner {
    background-image: url('build/images/podium.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-copy-container {
    h3 {
      color: $text-inverse;
    }
  }

  .training-camp-pic {
    background-image: url('build/images/training-camp.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .performance-eval-pic {
    background-image: url('build/images/performance-testing.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .training-camp-pic:hover , .performance-eval-pic:hover {
    cursor: pointer;
    
  }

  .ad-block {
    background-color: $background-dark;
    color: $text-inverse;
    p {
      color: inherit;
    }
  }
  //overlay
  .overlay-right{
    background: $overlay-dark-right;
    background-size: cover;
  }
  .overlay-left {
    background: $overlay-dark-left;
    background-size:cover;
    color: $text-inverse;
  }
  .overlay-full {
    background: $overlay-dark-full;
    background-size:cover;
    color: $text-inverse;
  }
  // Footer
  .footer-block {
    background-color: $DRT-red;
    .footer-nav {
      a {
        color: $text-inverse;
        font-size: $mobile-read;
        font-family: $read-font;
      }
    }
    .contribution-links {
      ul li {
        a {
          color: $text-inverse;
          font-size: $mobile-read;
          font-family: $read-font;
        }
      }
    }
  }
