
// Color
$DRT-red: #EF504F;
$DRT-black: rgba(0,0,0,.8);
$white: rgb(255,255,255);
$clear-gray: rgba(155,155,155,.1);
$clear: rgba(0,0,0,0);




//blocks
$dark-background: $DRT-black;
$overlay: $clear-gray;
//elements
$cta-button: $DRT-red;
$divider-line: $DRT-red;


$overlay-grey:linear-gradient(to bottom, $DRT-red, $clear);;
$overlay-white: linear-gradient(to top, white, $clear);


// text
$inverse-text: $white;
$colored-text: $DRT-black;
//desktop
$desktop-read: 20px;
$desktop-cta-text: 24px;
$desktop-subtitle: 36px;
$desktop-section-title: 48px;
$desktop-title: 64px;
//mobile
$mobile-read: 16px;
$mobile-cta-text: 18px;
$mobile-subtitle: 24px;
$mobile-section-title: 36px;
$mobile-title: 48px;

@import url('https://fonts.googleapis.com/css?family=Rajdhani:500|Lato:300');
$show-font: 'Rajdhani', sans-serif;
$read-font: 'Lato', sans-serif;
